body {
    font-family: Arial, Helvetica, sans-serif;
}

/* The Modal (background) */
.modal {
    font-family: 'Quicksand', sans-serif;
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    box-sizing: border-box;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.category-label {
    font-size: 20px;
    font-weight: bold;
}

.title-label {
    font-size: 14px;
    font-weight: bold;
/*    left align the text and match width of divs underneath as soon as those are known*/
}

.title-span {
    display: flex;
    flex-direction: row;
}

.ingredient-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 150px;
    border: 2px solid #ccc;
    border-radius: 16px;
    margin: 5px;
}

.ingredient-div {
    display: flex;
    align-items: center;
}

.card-label {

}

.card-icon {

}

.card-text-field {
    max-width: 50px;
    min-width: 50px;
    text-align: center;
}

.craft-ingredient-div {
    display: flex;
    flex-wrap: wrap;
}