body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkslategray;
}

/* The Modal (background) */
.modal {
    font-family: 'Quicksand', sans-serif;
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    box-sizing: border-box;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.category-label {
    font-size: 20px;
    font-weight: bold;
}

.title-label {
    font-size: 14px;
    font-weight: bold;
/*    left align the text and match width of divs underneath as soon as those are known*/
}

.title-span {
    display: flex;
    flex-direction: row;
}

.cards {
    /* manages the basic card layout */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ingredient-card {
    width: 60px;
    height: 86px;
    border-radius: 4px;
    background-color: #e9e7dc;
    margin: 6px;

    text-align: center;
    background-size: 60px;
    background-repeat: no-repeat;
}

.ingredient-div {
    align-items: center;
}

.card-icon {
    width: 100%;

    font-size: 10px; /* if an image ever fails, this helps the alt display inside the card */
}

.card-text-field {
    text-align: center;
    width: 44px;
    height:15px;
    border: 0; /* default inputs have a messy border */
    border-radius: 4px;

    background-color: #fcfaee;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.craft-ingredient-div {
    display: flex;
    flex-wrap: wrap;
}

/*Prevents number wheel arrows from appearing next to number type inputs*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}