$z1-bg-color: white;
$z1-shadow-color: #d4d5d9;
$main-bg-color: #f5f6fb;

$text-color: #2f3f56;
$muted-color: #8592A3;
$button-action-color: #667ffd;

$z2-text-color: #657ef8;
$z2-bg-color: #d6dcfa;

$green-color: #aed848;