$z1-bg-color: #ffffff;
$z1-shadow-color: #d4d5d9;
$main-bg-color: #f5f6fb;

$text-color: #2f3f56;
$muted-color: #8592A3;

$button-action-bg-color: #657ef8;
$button-action-text-color: #ffffff;
$button-text-color: #657ef8;
$button-bg-color: #d6dcfa;

$green-color: #aed848;

@import 'updatedStyles.scss';