
//site nav bar needs to disappear and instead show a hamburger in the top left

.site-nav-bar {

  .mobile-nav-bar-links {
    text-decoration: none;
    color: $muted-color;
    padding: 1em;
    cursor: pointer;
    display: block;
    clear: right;
    margin: 1em;

    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:hover {
      color: $button-text-color;
      background-color: $button-bg-color;
      border-radius: $border-radius;
    }
  }

  .vertical-center {
    margin: 0;
  }

  .desktop-nav-bar-links {
    display: none;
  }

  .side-menu {
    display: inline;
  }

  .side-panel {
    height: 100vh;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $z1-bg-color;
    overflow-x: hidden;
    transition: 0.5s;

    .side-panel-top-bar {
      float: right;
      clear: both;
    }
  }

}