:root {
    --theme-900: #212121;
    --theme-800: #424242;
    --theme-700: #717171;
    --theme-600: #757575;
    --theme-500: #9E9E9E;
    --theme-400: #BDBDBD;
    --theme-300: #E0E0E0;
    --theme-200: #EEEEEE;
    --theme-100: #F5F5F5;
    --theme-50: #FAFAFA;

    --accent-200: #F48FB1;
    --accent-100: #F8BBD0;
    --accent-50: #FCE4EC;

    --high-emphasis: #DEDEDE;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--theme-900);
    margin: 0;
    color: var(--high-emphasis);
    font-size: 14px;
}

.site-nav-bar {
    width: 100%;
    padding: 15px;
    background: var(--theme-800);
    box-shadow: 0 2px 4px black;
    position: fixed;
    z-index: 1;
}

.site-nav-bar-links {
    padding: 10px;
}

.btn {
    background-color: var(--theme-900);
    color: var(--high-emphasis);
    border: 1px solid var(--high-emphasis);
    padding: 10px;
    margin: 8px;
    border-radius: 6px;
    float: right;
}
.btn:hover {
    background-color: var(--theme-800);
}

.site-nav-bar-links:hover,
.site-nav-bar-links:focus{
    border-bottom: 2px solid var(--high-emphasis);
}

/* The Modal (background) */
.modal {
    font-family: 'Quicksand', sans-serif;
    /*display: none;*/
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 1);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.85);
    /* Black w/ opacity */
    box-sizing: border-box;
}

/* Modal Content */
.modal-content {
    margin: auto;
    padding: 20px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0);
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 36px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    text-align: right;
}
.close:hover {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.inventory-nav-bar {
    margin-left: 15%;
    display: flex;
    justify-content: space-between;
    width: 70%;
    border-bottom: 1px solid white;
}

.recipe-manager-nav-bar {
    margin-left: 15%;
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
    border-bottom: 1px solid white;
}

/*Nav bar hover effects*/
.inventory-nav-bar-main-icon,
.inventory-nav-bar-tab-icon,
.inventory-nav-bar-close-icon {
    width: 50px;
    height: 50px;
    opacity: 0.75;
}
.inventory-nav-bar-tab-icon:hover,
.inventory-nav-bar-close-icon:hover {
    opacity: 1;
}

/*Selected tab styling*/
.inventory-nav-bar-tab-icon {
    padding-bottom: 2px;
}
.inventory-nav-bar-tab-icon:hover {
    border-bottom: 2px solid white;
    padding-bottom: 0;
}
.selected-tab {
    opacity: 1;
    border-bottom: 2px solid white;
    padding-bottom: 0;
}

.flex-main-container {
    display: flex;
    padding-top: 54px;
}
.flex-center-container {
    display: flex;
    justify-content: center;
}

.cards {
    /* manages the basic card layout */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ingredient-card {
    width: 60px;
    height: 86px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #e9e7dc;
    margin: 6px;

    text-align: center;
    background-size: 60px;
    background-repeat: no-repeat;

    box-shadow: 0 0 6px black;

    transition: all .2s ease-in-out;
}
.ingredient-card:hover {
    border: 1px solid white;
    transform: scale(1.1);
}

.add-recipe-card {
    width: 100px;
    border-radius: 9px;
    border: 1px solid black;
    background-color: #e9e7dc;
    margin: 6px;
    color: black;

    text-align: center;
    background-size: 100px;
    background-repeat: no-repeat;

    box-shadow: 0 0 6px black;
}

.recipe-label-field {
    text-align: center;
}

.card-icon {
    width: 100%;
    font-size: 10px; /* if an image ever fails, this helps the alt display inside the card */
}

.card-text-field {
    text-align: center;
    width: 44px;
    margin-bottom: 4px;
    border: 1px solid #b0b0b0;
    border-radius: 4px;

    background-color: #fcfaee;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.craft-ingredient-div {
    display: flex;
    flex-wrap: wrap;
}



/*Main card styling*/
.recipe-card {
    background-color: var(--theme-800);
    margin: 8px;
    box-shadow: 0 2px 4px black;
    border-radius: 12px;
    width: 400px;
}
.recipe-card-title {
    /*background-color: var(--light);*/
    padding: 6px;
    margin: 0;
}
.recipe-container {
    display: flex;
}
.recipe-icon {
    background-size: cover;
    background-repeat: no-repeat;
    margin: 15px;
    border-radius: 55%;
    height: 52px;
    opacity: 0.9;
}
.recipe-goals {
    width: 100%;
}
.recipe-card-text {
    padding: 12px 0;
    margin: 0;
    margin-top: 7px;
    background: none;
    border: none;
}
/*.recipe-card-line {*/
/*    width: 100%;*/
/*    border-bottom: 1px solid var(--light);*/
/*}*/
/*.recipe-card-ingredient-card {*/
/*     color: black;*/

/*     width: 60px;*/
/*     height: 86px;*/
/*     border-radius: 5px;*/
/*     border: 1px solid var(--light);*/
/*     background-color: #e9e7dc;*/
/*     margin: 6px;*/

/*     text-align: center;*/
/*     background-size: 60px;*/
/*     background-repeat: no-repeat;*/
/* }*/
.recipe-card-ingredient-card p {
    margin: 0; /* keeps text in card */
}

.disabled {
    color: #b0b0b0;
}

.progress-bar {
    background-color: var(--theme-900);
    width: 60%;
    border-radius: 4px;
    padding: 2px;
}
.progress-bar-progress {
    background-color: var(--accent-200);
    height: 100%;
    height: 4px;
    border-radius: 4px;
}

/*Prevents number wheel arrows from appearing next to number type inputs*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}